@model docu3c.ViewModel.ProfileModel
@{
    ViewBag.Title = "Compliance";
}



<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />

@*<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />*@
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />

<form role="form" action="/Home/LoadPortfolio" method="get">
    <div class="row">
        <select id="iPortFolioID" class="border-primary w-25 form-control" asp-for="PortFolioID">
            <option value="0">All Portfolio</option>

            @{
                foreach (var item in Model.PortfolioDetails)
                {
                    <option value="@item.PortfolioID">@item.PortfolioName </option>
                }
            }

        </select>
    </div>


    <div class="row">


        <div class="col">
            <a href="@Url.Action("ComplianceScore", "Home")">
                <div class="card overflow-hidden shadow-lg badge-curve1 align-items-center float-left m-3">

                    <div class="btn  btn-default text-dark" type="button">
                        <div class="">
                            <div class="float-left">
                                <svg class="c-icon text-success c-icon-lg">
                                    <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-thumb-up"></use>
                                </svg>
                            </div> <div class="text-success text-value-lg float-left">&nbsp; @ViewData["ComplianceScore"]% </div>
                        </div><br /> <div class=" row  text-muted text-uppercase font-weight-bold small">Compliance Score</div>
                    </div>


                </div>
            </a>


            <a href="@Url.Action("Attention", "Home")">
                <div class="card overflow-hidden shadow-lg badge-curve1 align-items-center float-left m-3">

                    <div class="btn  btn-default text-dark">
                        <div class="">
                            <div class="float-left">
                                <svg class="c-icon text-danger c-icon-lg ">
                                    <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-warning"></use>
                                </svg>
                            </div>
                            <div class="text-danger text-value-lg float-left ">&nbsp; @ViewData["NeedAttention"] </div>
                        </div><br />
                        <div class="row text-muted text-uppercase font-weight-bold small  ">Needs Attention</div>
                    </div>


                </div>
            </a>

            <a href="@Url.Action("Verification", "Home")">
                <div class="card overflow-hidden shadow-lg badge-curve1 align-items-center float-left m-3">

                    <div class="btn btn-default text-dark">
                        <div class="row" style="height:30px;clear:both;">
                            <div class="float-left pl-4">
                                <svg class="c-icon text-warning c-icon-lg ">
                                    <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-building"></use>
                                </svg>
                            </div>
                            <div class="text-warning text-value-lg float-left">&nbsp; @ViewData["NeedVerification"] </div>
                        </div> <div class="row text-muted text-uppercase font-weight-bold small">Needs Verification</div>
                    </div>

                </div>
            </a>


            <div class="card overflow-hidden shadow-lg bg-gradient-success badge-curve1 align-items-center float-left m-3">

                <div class="btn btn-default text-dark">
                    <div class="row" style="height:30px;clear:both;">
                        <div class="float-left pl-4">
                            <svg class="c-icon text-white c-icon-lg ">
                                <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-badge"></use>
                            </svg>
                        </div>
                        <div class="text-white text-value-lg float-left">&nbsp; @ViewData["MeetCompliance"]</div>
                    </div> <div class="row text-white text-uppercase font-weight-bold small">Meets Compliance</div>
                </div>

            </div>

        </div>


    </div>


    <div class="row m-2 p-5 gridcurve-border bg-white">
        <h5 class="text-primary">Meets Compliance</h5>
        <div class="row table-responsive">
            <table class="table table-borderless table-striped  table-hover display" id="CTable">
                <thead class="border-bottom">
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Asset</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Institution</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Document</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DocumentDetails)
                    {
                        <tr>
                            <td>@item.Category    </td>
                            <td>@item.JSONFileIdentifier </td>

                            <td>
                                @item.CustomerDetail.CustomerFirstName

                            </td>
                            <td>@item.Institution </td>
                            <td>
                                @item.Reason
                            </td>
                            <td>
                                @if (item.DocumentURL != null)
                                {
                                    <a class="btn btn  btn-link btn-sm" href="@item.DocumentURL" target="_blank" rel="tooltip" title="@item.DocumentName" alt="">
                                        <i class="material-icons">vertical_align_bottom</i>

                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn btn-primary btn-link btn-sm" rel="tooltip" title="File not available">
                                        <i class="material-icons">block</i>
                                    </a>

                                }
                            </td>
                        </tr>

                    }
                </tbody>
            </table>

        </div>
    </div>

</form>

<script>

        $(document).ready(function () {
            setTimeout(function () {
                var drpVal = @Session["dPortFolioID"];
                if (drpVal != "") {
                    $('#iPortFolioID').val(drpVal);
                }
            }, 1000);

        $('#iPortFolioID').change(function () {
            //  alert($(this).val());

            $.ajax({

                type: 'get',
                url: '/Home/LoadPortfolio',
                data: { dPortFolioID: parseInt($(this).val()) },
                contentType: "application/json; charset=utf-8",
                success: function (Data) {
                    window.location.reload();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        });




    });

</script>
<script>
    $(document).ready(function () {

        $('#CTable').DataTable({
            "paging": true,
            "ordering": true,
            "info": false, "searching": true, "bLengthChange": false,
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>