@model docu3c.ViewModel.ProfileModel
@using docu3c.Models;
@{
    ViewBag.Title = "CustomerDetails";
}

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />

@*<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />*@
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<form role="form" action="/Home/LoadPortfolio" method="post">
    <div class="row ml-1">
        <select id="icPortFolioID" class="border-primary w-25 form-control" asp-for="PortFolioID">
            <option value="0">Portfolio</option>

            @{
                foreach (var item in Model.PortfolioDetails)
                {
                    <option value="@item.PortfolioID">@item.PortfolioName </option>
                }
            }

        </select>



    </div>
    <div class="row">


        <div class="col ml-0">
            <a href="@Url.Action("Index", "Home")">
                <div class="card overflow-hidden shadow-lg badge-curve align-items-center float-left mt-3 mr-3 ml-1">

                    <div class="btn  btn-default text-dark">
                        <div class="">
                            <div class="float-left">
                                <svg class="c-icon text-primary c-icon-lg ">
                                    <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-briefcase"></use>
                                </svg>
                            </div>
                            <div class="text-primary text-value-lg float-left ">&nbsp; @ViewData["NoofCategory"] </div>
                        </div><br />
                        <div class="row text-muted text-uppercase font-weight-bold small pl-2  ">Category</div>
                    </div>


                </div>
            </a>

            <div class="card overflow-hidden shadow-lg bg-gradient-warning badge-curve align-items-center float-left m-3">

                <div class="btn  btn-outline-warning text-dark" type="button">
                    <div class="">
                        <div class="float-left">
                            <svg class="c-icon text-white c-icon-lg pt-0 ">
                                <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-user"></use>
                            </svg>
                        </div> <div class="text-white text-value-lg float-left">&nbsp; @ViewData["NoofCustomers"] </div>
                    </div><br /> <div class=" row  text-white text-uppercase font-weight-bold small pl-2">Customers</div>
                </div>


            </div>
            <a href="@Url.Action("InstitutionDetails", "Home")">
                <div class="card overflow-hidden shadow-lg badge-curve align-items-center float-left m-3">

                    <div class="btn btn-default text-dark">
                        <div class="">
                            <div class="float-left">
                                <svg class="c-icon text-primary c-icon-lg ">
                                    <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-building"></use>
                                </svg>
                            </div>
                            <div class="text-primary text-value-lg float-left">&nbsp; @ViewData["NoOfInstitution"] </div>
                        </div><br /> <div class="row text-muted text-uppercase font-weight-bold small">INSTITUTION</div>
                    </div>

                </div>
            </a>
            <a href="@Url.Action("DocumentDetails", "Home")">
                <div class="card overflow-hidden shadow-lg badge-curve align-items-center float-left m-3">

                    <div class="btn btn-default text-dark">
                        <div class="">
                            <div class="float-left">
                                <svg class="c-icon text-primary c-icon-lg ">
                                    <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-description"></use>
                                </svg>
                            </div>
                            <div class="text-primary text-value-lg float-left">&nbsp; @ViewData["NoofDocumets"] </div>
                        </div><br /> <div class="row text-muted text-uppercase font-weight-bold small">Documents</div>
                    </div>

                </div>
            </a>
        </div>




    </div>


    <div class="row m-2 p-5 gridcurve-border bg-white">
        <div class="row mb-2">
            <h5 class="text-primary">Customer Details</h5>
        </div>
        <div class="row table-responsive">
            <table class="table table-borderless table-striped  table-hover display" id="CdTable">
                <thead>
                    <tr>
                        @*<th scope="col">Customer ID</th>*@
                        <th scope="col">Customer Name</th>

                        <th scope="col">DOB</th>
                        <th scope="col">Address</th>
                        <th scope="col">No.Of Documents</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CustomerDetails)
                    {
                        <tr>
                            <td>

                                @if (!string.IsNullOrEmpty(item.CustomerFirstName) && !string.IsNullOrEmpty(item.CustomerMiddleName) && !string.IsNullOrEmpty(@item.CustomerLastName))
                                {
                                    string Customername = String.Format("{0} {1} {2}", @item.CustomerFirstName, @item.CustomerMiddleName, @item.CustomerLastName);
                                    @Html.DisplayFor(c => Customername);
                                }
                                else
                                {
                                    string Customername = String.Format("{0} {1}", item.CustomerFirstName, item.CustomerLastName);
                                    @Html.DisplayFor(c => Customername);
                                }

                            </td>

                            <td>

                                @if (item.DOB != null)

                                {
                                    string dt = String.Format("{0}/{1}/{2}", @item.DOB.Value.Day, @item.DOB.Value.Month, @item.DOB.Value.Year);
                                    @Html.DisplayFor(m => dt);
                                }

                            </td>
                            <td>@item.Address  </td>

                            <td>
                                @using (docu3cEntities db = new docu3cEntities())
                                {
                                    @db.DocumentDetails.Where(m => m.CustomerID == item.CustomerID).Count();
                                }
                            </td>
                        </tr>

                    }
                </tbody>
                <tfoot>
                    <tr>
                       
                        <th scope="col">Customer Name</th>

                        <th scope="col">DOB</th>
                        <th scope="col">Address</th>
                        <th scope="col">No.Of Documents</th>
                        



                    </tr>
                </tfoot>

            </table>

        </div>
    </div>
</form>


<script>


    $(document).ready(function () {

         setTimeout(function () {
                var drpVal = @Session["dPortFolioID"];
                if (drpVal != "") {
                    $('#icPortFolioID').val(drpVal);
                }
            }, 1000);
        $('#icPortFolioID').change(function () {
            //  alert($(this).val());

            $.ajax({

                type: 'get',
                url: '/Home/LoadPortfolio',
                data: { dPortFolioID: parseInt($(this).val()) },
                contentType: "application/json; charset=utf-8",
                success: function (Data) {

                    window.location.reload();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        });



    });
</script>

<script>

    $(document).ready(function () {
        $('#CdTable').DataTable({
        });
        $('#CdTable_length select').removeClass('custom-select custom-select-sm form-control form-control-sm');
        $('.dataTables_length').addClass('bs-select');
    });
</script>

