@model docu3c.ViewModel.ProfileModel
@{
    ViewBag.Title = "DocumentDetails";
}



<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />

@*<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />*@
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
<style>   
    .paginate_button .page-item a:active ,.page-link a{background-color:#989898}
  
    
</style>

<form role="form" method="post">
    <div class="row">
        <select id="idPortFolioID" class="border-primary w-25 form-control" name="idPortFolioID">
            <option value="0">Portfolio</option>

            @{
                foreach (var item in Model.PortfolioDetails)
                {
                    <option value="@item.PortfolioID">@item.PortfolioName </option>
                }
            }

        </select>



    </div>
    <div class="row">




        <div class="col">
            <a href="@Url.Action("Index", "Home")">
                <div class="card overflow-hidden shadow-lg badge-curve align-items-center float-left m-3">

                    <div class="btn  btn-default text-dark">
                        <div class="">
                            <div class="float-left">
                                <svg class="c-icon text-primary c-icon-lg ">
                                    <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-briefcase"></use>
                                </svg>
                            </div>
                            <div class="text-primary text-value-lg float-left ">&nbsp; @ViewData["NoofCategory"] </div>
                        </div><br />
                        <div class="row text-muted text-uppercase font-weight-bold small pl-2 ">Category</div>
                    </div>


                </div>
            </a>

            <a href="@Url.Action("CustomerDetails", "Home")">

                <div class="card overflow-hidden shadow-lg badge-curve align-items-center float-left m-3">

                    <div class="btn  btn-default text-dark">
                        <div class="">
                            <div class="float-left">
                                <svg class="c-icon text-primary c-icon-lg pt-0 ">
                                    <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-user"></use>
                                </svg>
                            </div>
                            <div class="text-primary text-value-lg float-left ">&nbsp; @ViewData["NoofCustomers"] </div>
                        </div><br />
                        <div class="row text-muted text-uppercase font-weight-bold small pl-2  ">Customers</div>
                    </div>


                </div>
            </a>





            <a href="@Url.Action("InstitutionDetails", "Home")">
                <div class="card overflow-hidden shadow-lg badge-curve align-items-center float-left m-3">

                    <div class="btn btn-default text-dark">
                        <div class="">
                            <div class="float-left">
                                <svg class="c-icon text-primary c-icon-lg ">
                                    <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-building"></use>
                                </svg>
                            </div>
                            <div class="text-primary text-value-lg float-left">&nbsp; @ViewData["NoOfInstitution"] </div>
                        </div><br /> <div class="row text-muted text-uppercase font-weight-bold small">INSTITUTION</div>
                    </div>

                </div>
            </a>

            <div class="card overflow-hidden shadow-lg bg-gradient-warning badge-curve align-items-center float-left m-3">

                <div class="btn  btn-outline-warning text-dark" type="button">
                    <div class="">
                        <div class="float-left">
                            <svg class="c-icon text-white c-icon-lg">
                                <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-description"></use>
                            </svg>
                        </div> <div class="text-white text-value-lg pl-1  float-left">&nbsp; @ViewData["NoofDocumets"] </div>
                    </div><br /> <div class=" row  text-white text-uppercase font-weight-bold small">Documents</div>
                </div>


            </div>
        </div>






    </div>




    <div class="row m-2 p-5 gridcurve-border bg-white">
        <div class="row mb-2">
            <h5 class="text-primary mb-3">Document Details</h5>
        </div>
        <div class="row table-responsive">
            <table class="table table-borderless table-striped  table-hover display" id="ddTable">
                <thead>
                    <tr>
                        @*<th scope="col">Category</th>*@

                        <th scope="col">Customer Name</th>
                        <th scope="col">Asset</th>
                        <th scope="col">Institute</th>
                        @*<th scope="col">Document</th>*@
                        <th scope="col">Reason</th>
                        @*<th scope="col">Status</th>*@
                        <th scope="col">Uploaded On</th>
                        <th scope="col">Action</th>

                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.DocumentDetails)
                    {
                        <tr>
                            <td>
                                @item.CustomerDetail.CustomerFirstName
                            </td>
                            @*<td>@item.Category  </td>*@
                            <td>@item.JSONFileIdentifier  </td>


                            <td>@item.Institution </td>
                            @*<td><a href="@item.DocumentURL" alt="@item.DocumentName" target="_blank">@item.DocumentName </a> </td>*@
                            <td>@item.Reason  </td>
                            @*<td>@item.FileStatus </td>*@
                            <td>
                                @item.CreatedOn
                            </td>
                            <td>
                                @*@Html.ActionLink("Delete", "Delete", "Home", new { documentid = item.DocumentID }, new { @class = "material-icons" })*@


                                <span class="float-left ">
                                    @if (item.DocumentURL != null)
                                    {
                                        <a class="btn btn  btn-link btn-sm" href="@item.DocumentURL" target="_blank" rel="tooltip" title="@item.DocumentName" alt="">
                                            <i class="material-icons">vertical_align_bottom</i>

                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn btn-primary btn-link btn-sm" rel="tooltip" title="File not available">
                                            <i class="material-icons">block</i>
                                        </a>

                                    }
                                </span>
                                <span class="float-left ">
                                    <a href="@Url.Action("Delete", "Home", new { documentid = item.DocumentID })" class="btn btn  btn-link btn-sm">
                                        <span class="material-icons">
                                            delete_outline
                                        </span>
                                    </a>
                                </span>

                            </td>
                        </tr>

                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Asset</th>
                        <th scope="col">Institute</th>

                        <th scope="col">Reason</th>

                        <th scope="col">Uploaded On</th>
                        <th scope="col">Action</th>

                    </tr>

                </tfoot>

            </table>

        </div>
        @if (Convert.ToInt32(Session["dPortFolioID"]) > 0)
        {
            <div class="row m-2 w-100 justify-content-end">

                <input type="submit" value="Check Compliance" class="btn btn-primary" id="btnCompliance" />
                @*<a class="c-header-nav-link" href="@Url.Action("CheckCompliance", "Home")" > <div class="btn btn-pill btn-block btn-primary active">Check Compliance</div> </>*@


            </div>
            <div class="row m-2 w-100 justify-content-center text-center hidden text-success" id="divProcessing">
                Checking for Compliance Data, please wait . . . <img src="~/Content/Images/ajax-loader.gif" class="rounded" alt="...">
            </div>
        }

    </div>
    @Html.Hidden("RedirectTo", Url.Action("Compliance", "Home"));
</form>



<script>


    $(document).ready(function () {

     setTimeout(function () {
                var drpVal = '@Session["dPortFolioID"]';
                if (drpVal != "") {
                    $('#idPortFolioID').val(drpVal);
                }
            }, 1000);
        $('#idPortFolioID').change(function () {
            //  alert($(this).val());

            $.ajax({

                type: 'get',
                url: '/Home/LoadPortfolio',
                data: { dPortFolioID: parseInt($(this).val()) },
                contentType: "application/json; charset=utf-8",
                success: function (Data) {

                    window.location.reload();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        });



        });
</script>

<script>

    $(document).ready(function () {
        $('#ddTable').DataTable({
           
             "orderClasses": true,

        });
        $('#ddTable_length select').removeClass('custom-select custom-select-sm form-control form-control-sm');
        
        $('.dataTables_length').addClass('bs-select');



    });
   
</script>

<script>
    $(document).ready(function () {
        $("#divProcessing").hide();
        $('#btnCompliance').click(function () {
            // alert($(this).val());
            this.disabled = true;
            //this.removeClass('btn-primary:disable');
            $(this).css('background-color', 'grey');
              $(this).css('border-color','grey');
          
           var url = $("#RedirectTo").val();
            $("#divProcessing").show();
            $.ajax({

                type: 'get',
                url: '/Home/CheckCompliance',
                data: null,
                contentType: "application/json; charset=utf-8",
                success: function (Data) {
                    
                    window.location.href=url;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        });
    });
</script>
