@model docu3c.Dashboard


@{
    ViewBag.Title = "Home Page";
}
<h1>Dashboard - Home</h1>
<a class="c-header-nav-link" href='@Url.Action("DocumentsUpload", "Home")'> Upload Documents </a>



<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="card overflow-hidden">
            <div class="card-body p-0 d-flex align-items-center rounded">
                <div class="bg-gradient-warning p-4 mfe-3">
                    <svg class="c-icon c-icon-xl">
                        <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-briefcase"></use>
                    </svg>
                </div>
                <div>
                    <div class="text-value text-warning"> @ViewData["NoofCategory"]</div>


                    <div class="text-muted text-uppercase font-weight-bold small">Classification</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card overflow-hidden">
            <div class="card-body p-0 d-flex align-items-center">
                <div class="bg-gradient-warning p-4 mfe-3">
                    <svg class="c-icon c-icon-xl">
                        <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-user"></use>
                    </svg>
                </div>
                <div>
                    <div class="text-value text-warning"> @ViewData["NoofCustomers"]</div>


                    <div class="text-muted text-uppercase font-weight-bold small">Customers</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card overflow-hidden">
            <div class="card-body p-0 d-flex align-items-center">
                <div class="bg-gradient-warning p-4 mfe-3">
                    <svg class="c-icon c-icon-xl">
                        <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-file"></use>
                    </svg>
                </div>
                <div>

                    <div class="text-value text-warning"> @ViewData["NoofDocumets"]</div>


                    <div class="text-muted text-uppercase font-weight-bold small">Documents</div>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-10 mb-4">
        <div class="nav-tabs-boxed">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home-1" role="tab" aria-controls="home">Summary View</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile-1" role="tab" aria-controls="profile">Detailed View</a></li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="home-1" role="tabpanel">
                    <div class="row">

                        <div class="col-sm-8 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="p-4 mfe-3">
                                        <svg class="c-icon c-icon-xl">
                                            <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-briefcase"></use>
                                        </svg>
                                    </div>
                                    <div class="text-value-lg text-warning">@ViewData["NewAccountAgreement"]</div>
                                    <div>New Account Agreements </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-value-lg text-warning">@ViewData["InvestmentManagementAgreement"]</div>
                                    <div>Investment Management Agreements </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-value-lg text-warning">@ViewData["AutomatedFundsTransferAgreement"]</div>
                                    <div>Automated Fund Transfer Agreement </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-value-lg text-warning">@ViewData["AssetTransferAgreements"]</div>
                                    <div></div>Asset Transfer Agreements
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-sm-8 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="p-4 mfe-3">
                                        <svg class="c-icon c-icon-xl">
                                            <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-briefcase"></use>
                                        </svg>
                                    </div>
                                    <div class="text-value-lg text-warning">@ViewData["InsuranceContractAgreements"]</div>
                                    <div>New Account Agreements </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-value-lg text-warning">@ViewData["MiscellaneousInvestments"]</div>
                                    <div>Investment Management Agreements </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-value-lg text-warning">@ViewData["ClientProfiles"]</div>
                                    <div>Automated Fund Transfer Agreement </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="tab-pane" id="profile-1" role="tabpanel">





                    @*<div class="table-responsive">
                        <table class="table table-borderless mdl-data-table " id="aitables">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Category Name</th>
                                    <th scope="col">Sub Category Name</th>
                                    <th scope="col">Customers</th>
                                    <th scope="col">Documents</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Dashboard documentitem in Model)
                                {

                                    <tr>
                                        <td>documentitem.CustomerFirstName   </td>
                                        <td>Helo</td>
                                        <td>
                                            1
                                        </td>
                                        <td>2</td>

                                    </tr>
                                }
                                </tbody>
                        </table>

                    </div>*@


                </div>
            </div>
            </div>
        </div>
    </div>



</div> 