
@model docu3c.ViewModel.ProfileModel

@{
    ViewBag.Title = "Home Page";
}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<form role="form" action="/Home/LoadPortfolio" method="get">
    <div class="row">
        <select id="iPortFolioID" class="border-primary w-25 form-control" asp-for="PortFolioID">
            <option value="0">Portfolio</option>

            @{
                foreach (var item in Model.PortfolioDetails)
                {
                    <option value="@item.PortfolioID">@item.PortfolioName </option>
                }
            }

        </select>
    </div>


    <div class="row">


        <div class="col">
            <div class="card overflow-hidden shadow-lg bg-gradient-warning  badge-curve align-items-center float-left m-3">

                <div class="btn  btn-outline-warning text-dark" type="button">
                    <div class="">
                        <div class="float-left">
                            <svg class="c-icon text-white c-icon-lg">
                                <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-briefcase"></use>
                            </svg>
                        </div> <div class="text-white text-value-lg pl-1  float-left">&nbsp; @ViewData["NoofCategory"] </div>
                    </div><br /> <div class=" row  text-white text-uppercase font-weight-bold small">Category</div>
                </div>


            </div>

            <a href="@Url.Action("CustomerDetails", "Home")">
                <div class="card overflow-hidden shadow-lg badge-curve align-items-center float-left m-3">

                    <div class="btn  btn-default text-dark">
                        <div class="">
                            <div class="float-left">
                                <svg class="c-icon text-primary c-icon-lg ">
                                    <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-user"></use>
                                </svg>
                            </div>
                            <div class="text-primary text-value-lg float-left ">&nbsp; @ViewData["NoofCustomers"] </div>
                        </div><br />
                        <div class="row text-muted text-uppercase font-weight-bold small  ">Customers</div>
                    </div>


                </div>
            </a>

            <a href="@Url.Action("InstitutionDetails", "Home")">
                <div class="card overflow-hidden shadow-lg badge-curve align-items-center float-left m-3">

                    <div class="btn btn-default text-dark">
                        <div class="">
                            <div class="float-left">
                                <svg class="c-icon text-primary c-icon-lg ">
                                    <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-building"></use>
                                </svg>
                            </div>
                            <div class="text-primary text-value-lg float-left">&nbsp; @ViewData["NoOfInstitution"] </div>
                        </div><br /> <div class="row text-muted text-uppercase font-weight-bold small">INSTITUTION</div>
                    </div>

                </div>
            </a>

            <a href="@Url.Action("DocumentDetails", "Home")">
                <div class="card overflow-hidden shadow-lg badge-curve align-items-center float-left m-3">

                    <div class="btn btn-default text-dark">
                        <div class="">
                            <div class="float-left">
                                <svg class="c-icon text-primary c-icon-lg ">
                                    <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-description"></use>
                                </svg>
                            </div>
                            <div class="text-primary text-value-lg float-left">&nbsp; @ViewData["NoofDocumets"] </div>
                        </div><br /> <div class="row text-muted text-uppercase font-weight-bold small">Documents</div>
                    </div>

                </div>
            </a>
        </div>


    </div>

    <div class="row">

        <div class="col-md-10 mb-4">
            <div class="nav-tabs-boxed">
                <ul class="nav nav-tabs " role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home-1" role="tab" aria-controls="home">Summary View</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile-1" role="tab" aria-controls="profile">Detailed View</a></li>

                </ul>
                <div class="tab-content shadow-lg">
                    <div class="tab-pane align-items-center m-5 active" id="home-1" role="tabpanel">
                        <div class="row justify-content-center ">


                            <div class="card border-warning curve-border float-left m-3 ">
                                <div class="card-body w-auto">
                                    <div class="badge-icon">
                                        <svg class="c-icon text-warning c-icon-3xl">
                                            <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-bank"></use>
                                        </svg>
                                    </div>
                                    <div class="text-value-lg text-warning text-center m-md-auto w-100 pb-2">@ViewData["NewAccountAgreement"]</div>
                                    <div class="text-center m-md-auto  w-100 ">Client Agreements </div>

                                </div>
                            </div>










                            <div class="card border-warning curve-border float-left m-3">
                                <div class="card-body w-auto">
                                    <div class="badge-icon">
                                        <svg class="c-icon text-warning c-icon-3xl ">
                                            <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-shield-alt"></use>
                                        </svg>
                                    </div>
                                    <div class="text-value-lg text-warning text-center m-md-auto w-100 pb-2">@ViewData["InvestmentManagementAgreement"]</div>
                                    <div class="text-center w-100 ">Investment Agreements</div>

                                </div>
                            </div>


                            <div class="card border-warning curve-border float-left m-3">
                                <div class="card-body w-auto">
                                    <div class="badge-icon">
                                        <svg class="c-icon text-warning c-icon-3xl">
                                            <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-beach-access"></use>
                                        </svg>
                                    </div>
                                    <div class="text-value-lg text-warning text-center m-md-auto w-100 pb-2">@ViewData["AutomatedFundsTransferAgreement"]</div>
                                    <div class="text-center w-100">Fund Transfer Agreement</div>

                                </div>
                            </div>

                            <div class="card border-warning curve-border float-left m-3">
                                <div class="card-body w-auto">
                                    <div class="badge-icon">
                                        <svg class="c-icon text-warning c-icon-3xl">
                                            <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-house"></use>
                                        </svg>
                                    </div>
                                    <div class="text-value-lg text-warning text-center m-md-auto w-100 pb-2">@ViewData["AssetTransferAgreements"]</div>
                                    <div class="text-center w-100 ">Asset Transfer Agreements</div>

                                </div>
                            </div>
                        </div>






                        <div class="row justify-content-center ">

                            <div class="card border-warning curve-border float-left m-3">
                                <div class="card-body w-auto">
                                    <div class="badge-icon">
                                        <svg class="c-icon text-warning c-icon-3xl">
                                            <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-chart-line"></use>
                                        </svg>
                                    </div>
                                    <div class="text-value-lg text-warning text-center m-md-auto w-100 pb-2">@ViewData["InsuranceContractAgreements"]</div>
                                    <div class="text-center w-100 ">Insurance Agreements</div>

                                </div>
                            </div>

                            <div class="card border-warning curve-border float-left m-3">
                                <div class="card-body w-auto">
                                    <div class="badge-icon ">
                                        <svg class="c-icon text-warning c-icon-3xl">
                                            <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-wallet"></use>
                                        </svg>
                                    </div>
                                    <div class="text-value-lg text-warning text-center m-md-auto w-100 pb-2">@ViewData["MiscellaneousInvestments"]</div>
                                    <div class="text-center w-100">Miscellaneous Investments</div>

                                </div>
                            </div>

                            <div class="card border-warning curve-border float-left m-3">
                                <div class="card-body w-auto">
                                    <div class="badge-icon">
                                        <svg class="c-icon text-warning c-icon-3xl">
                                            <use xlink:href="~/wwwroot/coreui/icons/free.svg#cil-money"></use>
                                        </svg>
                                    </div>
                                    <div class="text-value-lg text-warning text-center m-md-auto w-100 pb-2">@ViewData["ClientProfiles"]</div>
                                    <div class="text-center w-100">Client Profiles</div>

                                </div>
                            </div>





                        </div>
                    </div>

                    <div class="tab-pane" id="profile-1" role="tabpanel">




                        <div class="table-responsive m-6" style="width:95%;margin:2% 0">
                            <table class="table table-borderless" id="hdataTable">
                                <thead class="border-bottom">
                                    <tr>
                                        <th scope="col">Category</th>

                                        @*<th scope="col">Asset</th>*@
                                        <th scope="col">Documents</th>
                                        <th scope="col">Institution</th>
                                        <th scope="col">Customers</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CategoryDetails)
                                    {
                                        <tr>
                                            <td>@item.CategoryName  </td>
                                            @*<td>@item.JSONIdentifier   </td>*@
                                            <td>@Model.DocumentDetails.Where(CategoryName => CategoryName.Category == @item.CategoryName).ToList().Count  </td>
                                            <td>@Model.DocumentDetails.Where(CategoryName => CategoryName.Category == @item.CategoryName).GroupBy(o => o.Institution).ToList().Count  </td>

                                            <td>@Model.DocumentDetails.Where(CategoryName => CategoryName.Category == @item.CategoryName).GroupBy(o => o.CustomerID).ToList().Count</td>

                                        </tr>

                                    }
                                </tbody>
                            </table>

                        </div>





                    </div>
                </div>








            </div>
        </div>
    </div>
</form>
<div class="row w-75 justify-content-end">

    <a class="c-header-nav-link" href='@Url.Action("DocumentsUpload", "Home")'> <div class="btn btn-pill btn-block btn-primary active">Upload Documents</div> </a>

</div>

<script>
  
        $(document).ready(function () {
            setTimeout(function () {
                var drpVal = @Session["dPortFolioID"];
                if (drpVal != "") {
                    $('#iPortFolioID').val(drpVal);
                }
            }, 1000);
   
        $('#iPortFolioID').change(function () {
            //  alert($(this).val());

            $.ajax({

                type: 'get',
                url: '/Home/LoadPortfolio',
                data: { dPortFolioID: parseInt($(this).val()) },
                contentType: "application/json; charset=utf-8",
                success: function (Data) {
                    window.location.reload();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        });


       

    });
    
</script>
<script>
    $(document).ready(function () {

        $('#hdataTable').DataTable({
            "paging": true,
            "ordering": true,
            "info": false, "searching": true
        });
    });
</script>
