@model docu3c.ViewModel.ProfileModel
@using docu3c.Models;
@{
    ViewBag.Title = "PortFolioDetails";
}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />

@*<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />*@
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
<style>
    .paginate_button .page-item a:active, .page-link a {
        background-color: #989898
    }
    
</style>


<div class="row float-right mb-4 mr-5 pr-5">


    <a class="btn btn-warning text-white float-right" role="button" href="@Url.Action("AddPortFolio", "Home")">Create New Portfolio</a>
</div>



<div class="row m-2 p-5 gridcurve-border bg-white">

    @*<h5 class="text-primary mb-3">Document Details</h5>*@
    <div class="row mb-2">
        <h5 class="text-primary">Portfolio Details</h5>
    </div>
    <div class="row table-responsive">
        <table class="table table-borderless table-striped  table-hover display" id="ddTable">
            <thead>
                <tr>
                    <th scope="col">Portfolio Name</th>
                    <th>No.of Customers</th>
                    <th>No.Documents</th>
                    <th>Created On</th>


                </tr>
            </thead>
            <tbody>
                @using (docu3cEntities db = new docu3cEntities())
                {
                    foreach (var item in Model.PortfolioDetails)
                    {
                        <tr>
                            <td>@item.PortfolioName </td>
                            <td>@db.CustomerDetails.Where(x => x.PortfolioID.Equals(item.PortfolioID)).Distinct().Count()</td>
                            <td>
                                @db.DocumentDetails.Where(x => x.PortfolioID.Equals(item.PortfolioID)).Count()
                            </td>
                            <td>@item.CreatedOn </td>
                            @*<td>

                            <span>@Html.ActionLink("Change Status", "ChangeStatus", "Home", new { id = StudentObj.RowKey, Status = StudentObj.IsActive }, new { })</span>
                            ||
                            <span>@Html.ActionLink("Delete", "Delete", "Home", new { id = StudentObj.RowKey }, new { })</span>
                        </td>*@
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col">Portfolio Name</th>
                    <th>No.of Customers</th>
                    <th>No.Documents</th>
                    <th>Created On</th>


                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>



    $(document).ready(function () {

        $('#ddTable').DataTable({
           
             "orderClasses": true,

        });
        $('#ddTable_length select').removeClass('custom-select custom-select-sm form-control form-control-sm');
        
        $('.dataTables_length').addClass('bs-select');



    });
</script>


